[submodule "ext/cat1"]
	path = ext/cat1
	url = https://github.com/wpumacay/cat1.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/wpumacay/imgui.git
	branch = docking
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "core"]
	path = core
	url = https://github.com/wpumacay/tysoc.git
[submodule "physics/mujoco"]
	path = physics/mujoco
	url = https://github.com/wpumacay/tysocMjc.git
[submodule "physics/bullet"]
	path = physics/bullet
	url = https://github.com/wpumacay/tysocBullet.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "physics/raisim"]
	path = physics/raisim
	url = https://github.com/wpumacay/tysocRaisim.git
[submodule "ext/raisim"]
	path = ext/raisim
	url = https://github.com/leggedrobotics/raisimLib.git
[submodule "ext/bullet3"]
	path = ext/bullet3
	url = https://github.com/bulletphysics/bullet3.git
